build-zsh/
build-sed/
build-bc/
zsh-5.9/
zsh-5.9.tar.xz
bc-7.0.3/
bc-7.0.3.tar.gz
ncurses-stub/lib/
ncurses-stub/*.o
npm/zsh.js
npm/zsh.wasm
npm/zsh-runtime.js
npm/zsh-worker.js
node_modules/
package-lock.json
test-results/
